{% extends "base.html"%}

{% block title%} Question {% endblock %}

{% block content %}
  <div class="content">
    <div class="question-page border">
      <div class="question-page-avatar">
        <a href="user.html">
          <img src="../../static/imgs/avatar_user.png" class="img-circle question-page-avatar-img">
        </a>
      </div>
      <div class="question-page-like">
        <a href="#action">
          <img src="../../static/imgs/like.png" class="img-circle question-page-like-img">
        </a>
        <p class="question-page-like-count">5</p>
      </div>
      <div class="question-page-title">
        <a href="question.html">{{ questions.head }}</a>
      </div>
      <div class="question-page-description">
        <p>
          {{ questions.text }}
        </p>
      </div>
      <div class="question-page-tags-title">
        <span>Tags: </span>
        <div class="question-page-tags">
          {% for tag in questions.tags %}
            <a href="questions.html">{{ tag }}</a>
           {% endfor %}
        </div>
      </div>
      <hr class="question-page-hr">
      {% for answer in questions.answers %}
      <div class="question-page-answers border">
        <div class="answer">
          <div class="question-page-answer-avatar">
            <a href="user.html">
              <img src="../../static/imgs/avatar_user.png" class="img-circle question-page-answer-avatar-img">
            </a>
          </div>
          <div class="question-page-answer-like">
            <a href="#action">
              <img src="../../static/imgs/like.png" class="img-circle question-page-answer-like-img">
            </a>
            <p class="question-page-answer-like-count">5</p>
          </div>
          <div class="question-page-answer-description">
            <p>
              {{ answer.text }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="question-page-input-form">
        <form>
          <textarea class="question-page-input-form-text form-control" placeholder="input"></textarea>
          <button type="submit" class="question-page-answer-done">Отправить</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

